.title-bar{
	background-color: #eee;
	position: relative;
	top:0px; 
	left:0px;
	width: 100%;
	text-align: center; 
	font-size: 30px;

}

.disable{
	color: red;
}

.disabled{
	 pointer-events: none;
	background-color: red;

}

.simpleListBlock{
								
}

.simpleList{
	list-style-type: none;
	font-size: 30px;
	font-family: 

}

.matchListBlock{
	float: none;

}

.matchList{
	list-style-type: none;

}


.numbers{
	list-style-type: none;

}
.numbers li{
	display: inline;
}
.numbers li img{
	height: 70px;
	width:70px;
}
.thumb{
	height:28px;
	width:28px;
	float: right;
}
.setList{
	list-style-type: none;
}
.exDuration{
	height: 60px;
}
.next{
	position: absolute;
	top:600px;
	left:55px;
}
.back{
	position: absolute;
		top:600px;
		left:100px;
}
.warning{
	background-color: rgba(256,0,0,0.5);
}
.success{
	background-color: rgba(0,256,0,0.5);
}

.modal-content{
	overflow: auto;
}

.checkList{
	list-style-type: none;
}

.checker{
	height: 20px;
	width: 20px;
}
.setList .panel{
	margin-bottom: 0px !important;
}
.tsContainer{
	padding: 0px !important;
	height: 60px !important;
}

.clock .ios .dw{
	width: 100%;

}
.clock .dwc{
	width: 70%;
}

.clock .dww{
	height: 200px important;
}

.clock .ios .dww .dw-li{
	font-size: 50px !important;
}

.clock .ios .dwwol{
	height: 50px;
	margin-top: -26px;

}

.setList .input-group{
	float: left !important;
}

.setList .form-control{
height: 60px;
text-align: center;
font-size: 30px;
}

.setList .input-group-addon{
	font-size: 25px !important;
	position: initial !important;
}

.setList .panel{
	text-align: center;
	font-size:20px;
}

.setList .exDuration .panel-body{
	padding: 15px 15px 15px 4px;
}

